
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; 
  background-color: #f0f2f5; 
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.filter-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: #0056b3;
}

.custom-dropdown {
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #ffffff; /* White background for dropdown */
  color: #495057;
  font-size: 16px;
  transition: border-color 0.3s;
}

.custom-dropdown:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-dropdown option {
  padding: 10px;
}
